<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div class="container">
    <div th:replace="base :: nav">

    </div>
</div>

<div class="fluid-container" >
    <figure class="Index-page-image loaded" data-parallax-image-wrapper="" style="overflow: hidden;"/>

    <img data-src="https://merchandising-assets.bestbuy.ca/bltc8653f66842bff7f/blt4f2601cb56f7266f/5ca69964aef178d3394900fb/brand-hub-google-20190404-feature-banner-google-homepage-small.jpg?width=3077&quality=80"
         data-image="https://merchandising-assets.bestbuy.ca/bltc8653f66842bff7f/blt4f2601cb56f7266f/5ca69964aef178d3394900fb/brand-hub-google-20190404-feature-banner-google-homepage-small.jpg?width=3077&quality=80"
         data-image-dimensions="2500x1256"
         data-image-focal-point="0.5,0.5"
         data-load="false" data-parent-ratio="2.0"
         alt="CrabCakeGroup.jpg" style="font-size: 0px; left: 0px; top: -2.4216px; width: 1348px; height: 500.843px; position: relative;"
         class="" data-image-resolution="2500w"
         src="https://merchandising-assets.bestbuy.ca/bltc8653f66842bff7f/blt4f2601cb56f7266f/5ca69964aef178d3394900fb/brand-hub-google-20190404-feature-banner-google-homepage-small.jpg?width=3077&quality=80" />
</div>
<br />

<body>



</body>
</html>