<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org", xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="base::header">
    <title>profile</title>
</head>

<body>
<div th:replace="base::nav"></div>
<div class="container text-center">

    <div class="jumbotron lead">
        <h2 th:text="${user.firstName} +' ' +${user.lastName}"></h2>
    </div>


    <div>
        <strong>
            <span th:text="${user.username}"></span>
        </strong><br/>
        <span th:text="${user.email}"></span>
        <span th:text="${user.address}"></span>
        <br/>

    </div>
</div>

<div th:replace="base::footer"></div>
</body>
</html>